<div class="header">
  <h1>Welcome to Resistance Calculator</h1>
</div>

<div class="resistance-calc">
  <h2>Resistance:</h2>
  <p>Select bands</p>

  <div class="bands-form">
    <form action="/">
      <div class="digits-selection">
        <p><label for="digits">Digits</label></p>

        <select name="band1" id="band1">
          <option value="Black">Black</option>
          <option value="Brown">Brown</option>
          <option value="Red">Red</option>
          <option value="Orange">Orange</option>
          <option value="Yellow">Yellow</option>
          <option value="Green">Green</option>
          <option value="Blue">Blue</option>
          <option value="Violet">Violet</option>
          <option value="Gray">Gray</option>
          <option value="White">White</option>
        </select>

        <select name="band2" id="band2">
          <option value="Black">Black</option>
          <option value="Brown">Brown</option>
          <option value="Red">Red</option>
          <option value="Orange">Orange</option>
          <option value="Yellow">Yellow</option>
          <option value="Green">Green</option>
          <option value="Blue">Blue</option>
          <option value="Violet">Violet</option>
          <option value="Gray">Gray</option>
          <option value="White">White</option>
        </select>

        <select name="band3" id="band3">
          <option value="Black">Black</option>
          <option value="Brown">Brown</option>
          <option value="Red">Red</option>
          <option value="Orange">Orange</option>
          <option value="Yellow">Yellow</option>
          <option value="Green">Green</option>
          <option value="Blue">Blue</option>
          <option value="Violet">Violet</option>
          <option value="Gray">Gray</option>
          <option value="White">White</option>
        </select>

      </div>


      <br><br>
      <input type="submit" value="Submit">
    </form>
  </div>
</div>



<router-outlet></router-outlet>
